.head{
    background-color: #AF7EEB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 392px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    height: 80px;
}
p{
    margin: 0 !important;
}
.count{
    background-color: #7E51B5;
    width: 61px;
    height: 36px;
    border-radius: 50px;
}
.number{
    font-size: 14px;
    line-height: 21px !important;
}

.List{
    background-color: white;
    padding: 30px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 392px;
}
.tColor{
    color: #50566B !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.edit, .trash {
    cursor: pointer;
}
.edit svg:hover path{
    fill: #83D97C ;
    fill-opacity: 1;
}
.trash svg:hover path{
    fill: #EF5350 ;
    fill-opacity: 1;
}
.button{
    background-color: #AF7EEB;
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 151px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 60px;
    position: absolute;
}

.todoInput {
    margin: 10px;
    padding: 5px;
    border: none;
}

